@CHARSET "ISO-8859-1";
body {
	font-family: sans-serif;
}

.viewState {
	display: none;
}

.panel {
	width: 40%;
	border: thin solid black;
}

form {
	width: 100%;
}

table {
	width: 100%;
}

.err {
	display: none;
}

table td:first-child {
	width: 30%;
}

input, textarea, select {
	width: 70%;
}